html  {
   background: url(/homework/img/clouds-background.jpg) no-repeat center center fixed;
   background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 50px;
}

h3  {
	text-align: center;
	 margin-top:  -2.5vh;
}

h4 {
	display: inline;
	width: 20vw;
	margin: 0 15vw;
	font-size: 18px;
}

p {
	font-size: 2.5vw;
}

label  {
	font-size: 2.5vw;
	font-weight: 500;
}

input {
	font-size: 2vw;
	margin-bottom: 2vh;
}

ul {
	list-style-type: none;
	border: 2px solid #000;
	width: 50vw;
	margin: 2vw auto; /* Centers the list on the page */
	box-shadow: 10px 10px 5px #888888;
	background-color: rgba(0, 102, 204,.2);
}

li {
	font-size: 18px;
	text-align: center;
}

h1 img  {
	max-width: 10vw;
	margin-left: 3vw;
}

.btn {
	color: #ff0000;
	font-size: 18px;
	border: solid 2px #865633;
	border-radius: 50%;
	float: right;
	margin-right: 10px;
	transition: all;
}
   .btn:hover  {
      	  transform: scale(1.4);
     }

.delete_btn {
	width: 1.5vw;
}
   
 #post_message {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.description {
	margin-bottom: 2vh;
}

/*=========== Modal Dialog Box Ruleset  ==============*/

a[href="#openModal"] {
	font-size: 2vw;
    display: block;
    width: 15vw;
    text-decoration: none;
    background: #e4f1fe;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #444;
    font-weight: bold;
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
    -webkit-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
}

    a[href="#openModal"]:hover  {
    	background-color: #82CFFD;
    }

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

    .modalDialog:target {
	    opacity: 1;
	    pointer-events: auto;
    }

    .modalDialog > div {
	   max-width: 30vw;
	   position: relative;
	   margin: 10% auto;
	   padding: 5px 20px 13px 20px;
	   border-radius: 10px;
	   background: #5fc5f2;
	    /* Safari 4-5, Chrome 1-9 */ 
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727)); 
	    /* Safari 5.1, Chrome 10+ */ 
	    background: -webkit-linear-gradient(top, #5fc5f2, #a6dff8); 
	    /* Opera 11.10+ */ 
	    background: -o-linear-gradient(top, #5fc5f2, #a6dff8);
     }
     
 

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

    .close:hover { 
	   background: #00d9ff; 
    }



